encryption = "age"
[age]
  identity = "~/.config/sops/age/keys.txt"
  recipient = "age1ywhmp58k36fn77z7x2je8uyf7csd2y6eu4cllutnwegw8vvzgdlsvq2r4z"
[git]
  autoAdd = true
  autoCommit = true
  autoPush = true