{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Template file for chezmoi config file */ -}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $minimal := false -}}{{/* true if minimal installation required for containers etc */}}
{{- $agekey := false -}}{{/* true if age key required */}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "Yuzu" -}}
{{-   $headless = false -}}
{{-   $kubernetes = true -}}
{{-   $agekey = false -}}
{{- end -}}
{{- if eq $hostname "Shinobu" -}}
{{-   $headless = false -}}
{{-   $kubernetes = true -}}
{{-   $agekey = false -}}
{{- end -}}
{{- if hasKey . "headless" -}}
{{-   $headless = .headless -}}
{{- else if $interactive -}}
{{-   $headless = promptBool "headless" -}}
{{- end -}}
{{- if hasKey . "kubernetes" -}}
{{-   $kubernetes = .kubernetes -}}
{{- else if $interactive -}}
{{-   $kubernetes = promptBool "kubernetes" -}}
{{- end -}}
{{- if hasKey . "minimal" -}}
{{-   $minimal = .minimal -}}
{{- else if $interactive -}}
{{-   $minimal = promptBool "minimal" -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

[data]
  headless = {{ $headless }}
  kubernetes = {{ $kubernetes }}
  minimal = {{ $minimal }}

[git]
  autoAdd = true
  autoCommit = true
  autoPush = true
[doppler]
    project = "chezmoi"
    config = "prd"
    