# apt
if type -q apt
{{- if ne .chezmoi.username "root" }}
  abbr apti 'sudo apt install'
  abbr aptr 'sudo apt remove'
  abbr aptu 'sudo apt update'
  abbr aptug 'sudo apt update && sudo apt upgrade'
{{- else }}
  abbr apti 'apt install'
  abbr aptr 'apt remove'
  abbr aptu 'apt update'
  abbr aptug 'apt update && sudo apt upgrade'
{{- end }}
end

# pacman
if type -q pacman
{{- if ne .chezmoi.username "root" }}
  abbr pacup 'sudo pacman -Syu'
  abbr pacin 'sudo pacman -S'
  abbr pacr 'sudo pacman -R'
{{- else }}
  abbr pacup 'pacman -Syu'
  abbr pacin 'pacman -S'
  abbr pacr 'pacman -R'
{{- end }}
end

# chezmoi
if type -q chezmoi
  abbr c 'chezmoi'
  abbr ca 'chezmoi apply'
  abbr cu 'chezmoi update'
  abbr ce 'chezmoi edit'
  abbr cs 'chezmoi status'
  abbr cc 'chezmoi cd'
end

# flux
if type -q flux
  abbr f --position anywhere 'flux'
  abbr fgk --position anywhere 'flux get ks'
  abbr fsa 'flux suspend kustomization --all'
  abbr fra 'flux resume kustomization --all'
  abbr upf 'update_flux'
end

# talosctl
if type -q talosctl
  abbr t 'talosctl'
end

# talhelper
if type -q talhelper
  abbr th 'talhelper'
end

# the fuck
if type -q thefuck
  abbr fu 'fuck'
end

# hwatch
if type -q hwatch
  abbr w 'hwatch --'
end

# k9s
if type -q k9s
  abbr ks 'k9s'
end

# incus
if type -q incus
  abbr i 'incus'
end

# eza
if type -q eza
  abbr lsa 'ls -lah'
  abbr l 'eza'
  abbr ll 'eza --long --git --header'
  abbr la 'eza -a --long --git --header'
else
  abbr lsa 'ls -lah'
  abbr l 'ls'
  abbr ll 'ls -lh'
  abbr la 'ls -lAh'
end

# edit config files
abbr evim '$EDITOR $HOME/.vimrc'
abbr envim '$EDITOR $HOME/.config/nvim/init.vim'
abbr ezsh '$EDITOR $HOME/.zshrc'
abbr ebash '$EDITOR $HOME/.bashrc'
abbr efish '$EDITOR $__fish_config_dir/custom.d'
abbr etmux '$EDITOR $HOME/.tmux.conf'
abbr eala '$EDITOR $HOME/.config/alacritty/alacritty.yml'
abbr ei3 '$EDITOR $HOME/uuuu.i3/config'
abbr edunst '$EDITOR $HOME/.config/dunst'
abbr esway '$EDITOR $HOME/.config/sway/config'
abbr ewaybar '$EDITOR $HOME/.config/waybar/config'

# basic abbreviations
abbr ... 'cd ..'
abbr cpr 'cp -rf'
abbr rmr 'rm -rf'
abbr md 'mkdir -p'
abbr rd 'rmdir'
