set -gx KUBE_EDITOR nvim
set -gx VISUAL nvim
set -gx EDITOR nvim
set -gx HOMEBREW_NO_ANALYTICS 1
set -gx GOPATH /home/chris/.go
set -gx ANSIBLE_FORCE_COLOR true
set -gx ANSIBLE_HOST_KEY_CHECKING False
set -gx PY_COLORS true
set -gx GPG_TTY (tty)

{{- if stat (joinPath .chezmoi.homeDir ".config/sops/age/keys.txt") }}
set -gx SOPS_AGE_KEY_FILE {{ .chezmoi.homeDir }}/.config/sops/age/keys.txt
{{- end }}

fish_config theme save "Catppuccin Mocha"

{{- if lookPath "/opt/homebrew/bin/brew" }}
if status --is-interactive
    eval (/opt/homebrew/bin/brew shellenv)
end
{{- end }}

{{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" }}
if status --is-interactive
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{- end }}

## Source custom configs
for file in $__fish_config_dir/custom.d/*.fish
  source $file
end

if type -q direnv
    {{ lookPath "direnv" }} hook fish | source
end

if type -q thefuck
    {{ lookPath "thefuck" }} --alias | source
end

if type -q atuin
    {{ lookPath "atuin" }} init fish | source
end

if type -q starship
    {{ lookPath "starship" }} init fish | source
end

if type -q zoxide
    zoxide init fish | source
end
