jhillyerd/plugin-git
gazorby/fish-abbreviation-tips
danhper/fish-ssh-agent
decors/fish-colored-man
edc/bass
franciscolourenco/done
kidonng/zoxide.fish
jorgebucaran/autopair.fish
jorgebucaran/fisher
jorgebucaran/spark.fish
nickeb96/puffer-fish
patrickf3139/fzf.fish
wfxr/forgit
shoriminimoe/fish-extract